@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

* {
    font-family: Arial;
}

.main {
    width: max-content;
    margin: 0 auto;
}

.input {
    margin: 10px 0;
}

.input textarea {
    resize: none;
    width: 100%;
    min-height: 150px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.success, .error, .list_options {
    margin: 10px 0;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 3px 5px;
}

a {
    width: fit-content;
    display: block;
    margin: 10px 0;
}