//Solo iría en la dirección deseada si no usa las versiones antiguas de navegadores.
@mixin degradadoDual($color1, $color2, $direction) {
    background: $color1;
    background-image: -moz-linear-gradient(bottom, $color1 0%, $color2 100%);
    background-image: -webkit-linear-gradient(bottom, $color1 0%, $color2 100%);
    background-image: linear-gradient(to $direction, $color1 0%, $color2 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= $color1, endColorstr= $color2,GradientType=1 );
}

