*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    background: linear-gradient(4555555555555deg, rgba(223, 46, 40) 10%, rgb(216, 127, 18) 30%, rgb(213, 216, 26) 45%, rgb(73, 235, 146)47%, rgb(73, 124, 233) 72%, rgb(226, 59, 204) 99%);
    color:  hsl(0, 53%, 9%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    min-height: 100vh;
    width: 100%; /* 100vw o nada*/
}

h1, p {
  margin: 1em auto;
  text-align: center;
  font-family: Tahoma;
}

h2{
  color: rgb(135, 235, 215);
}

.contenedor-flex{
  display: flex;
}

.contenedor-grid{
  display: grid;
}

.flex-column{
  flex-direction: column;
}

.nav{
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: #000f0b;
  color: rgb(255, 255, 255);
  opacity: 0.5;
  border-radius: 0 0 20px 20px;
  margin-bottom: 20px;
}

.nav a{
  text-decoration: none;
  color: rgb(3, 251, 255);
  transition: all 0.3s ease-in-out;
}

.nav a:hover{
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.nav ul{
  display: flex;
  gap: 10px;
  list-style: none;
}

#contenedor-grande{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  grid-auto-rows: minmax(150px, auto);
  grid-auto-columns: minmax(300px, auto);
}

#div-izq ul li{
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

#div-izq ul>li:hover{
  color: rgb(246, 152, 30);
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

#div-izq{
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 10px 5px 20px;
  width: 40%;
  min-width: 200px;
  max-height: 50%;
}

#div-dcha{
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 2fr 2fr;
    /*grid-auto-rows: 150px;todas las que se añadan serán 150px*/
    /*grid-auto-rows: minmax(150px, auto);todas las que se añadan serán 150px min y max su content*/
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  
}

.subdiv{
  background-color:rgb(73, 235, 146);
  border-radius: 10px;
  color: rgba(223, 255, 251, 0.96); 
}

.subdiv h3{
  transition: all 0.4s ease-in-out;
}

.subdiv h3:hover{
  color: rgb(246, 152, 30);
  font-weight: bold;
  background-color: rgb(244, 214, 245);
}

/*
#div-dcha{
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 20px 5px 10px;
  width: 60%;
}*/


input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}