body {
    background-color: #232b29; 
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    text-align: center;
}
h1{
    color: rgb(226, 145, 183);
    font-family: Georgia, Times, 'Times New Roman', serif
}
button{
    top:80px;
    position: fixed;
}
#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(140, 131, 131);
    align-content: space-between;
}

.imagen {
    width: 1200px;
    height: 70px;
    flex: 2 1 200px;
    margin: 10px; 
    background-color: blanchedalmond;
}
img{
    width: 100%;
    object-fit: scale-down ;
}