$colors: (
    $mainColor: #ffffff,
    $backgroundColor: #ffffff,
    $buttonColor: #ffffff,
    $firstTaskHead: #ffffff,
    $secondTaskHead: #ffffff,
    $thirdTaskHead: #ffffff,
    $white: #ffffff,
    $black: #000000
);

$dimensions: (
        $mainColor: #ffffff,
        $mainColor: #ffffff,
        $mainColor: #ffffff,
);

$fonts: (
    $proyectTitle: #ffffff,
    $TasksHead: #ffffff,
    $Task: #ffffff,
);


