// Por el contrario SCSS, sí utiliza llaves {} o puntos y coma, por lo que no será necesaria la sangría,
// que siempre resulta conveniente utilizarla para claridad en la lectura del código
$color-: #3498AA;
body {
 font-family: Arial;
 color: $color;
}
.contendor {
 width: 100%;
 margin: 0 auto;
}