$unit: 0.50vw;
$unit-rem: 1.0rem;

$color_fondo: #dcbce2;
$color_h1: #ffffff;
$color_texto: #1d1d1d;
$color_boton: #a831c2;
$color_nav: #353fd6;
$color_pendientes: #c872d1;
$color_vistas: #e3d392;
$color_favs: #16b699;
$color_no_recomendadas: #7a43d9;

$modo_claro: (
    '$color_fondo': #dcbce2,
    '$color_h1': #ffffff,
    '$color_texto': #1d1d1d,
    '$color_boton': #a831c2,
    '$color_nav': #353fd6,
    '$color_pendientes': #c872d1,
    '$color_vistas': #e3d392,
    '$color_favs': #16b699,
    '$color_no_recomendadas': #7a43d9,
);

$modo_oscuro: (
    '$color_fondo': #090909,
    '$color_h1': #000000,
    '$color_texto': #e5e4e7,
    '$color_boton': #095551,
    '$color_nav': #c9b9ed,
    '$color_pendientes': #c347d1,
    '$color_vistas': #e0d451,
    '$color_favs': #04ba7d,
    '$color_no_recomendadas': #4e2edd,
);

$modo_random: (
    '$color_fondo': rgb(random(256),  random(256),  random(256)),
    '$color_h1': rgb(random(256),  random(256),  random(256)),
    '$color_texto': rgb(random(256),  random(256),  random(256)),
    '$color_boton': rgb(random(256),  random(256),  random(256)),
    '$color_nav': rgb(random(256),  random(256),  random(256)),
    '$color_pendientes': rgb(random(256),  random(256),  random(256)),
    '$color_vistas': rgb(random(256),  random(256),  random(256)),
    '$color_favs': rgb(random(256),  random(256),  random(256)),
    '$color_no_recomendadas': rgb(random(256),  random(256),  random(256)),
);


$temas: (
    ("modo_claro", $modo_claro),
    ("modo_oscuro", $modo_oscuro),
    ("modo_random", $modo_random)
);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$tertiary-font: 'Montserrat', sans-serif;
$font-size: 1.3 * $unit-rem;
$font-size-small: 1 * $unit-rem;
$font-size-large: 2 * $unit-rem;

// Cambia los variables de abajo, para que queden del mismo tamaño pero sean el resultado de multiplicar la unidad por un número entero.
// $borde-formulario: 15 * $unit;
// $borde-tarea: 8 * $unit;

// $ancho-tarea: $unit * 30;
// $ancho-formulario: $unit * 50;
