h1{
    text-align: center;
}

#contenido{
    margin-top: 40px;
    display: grid;
    grid-template-areas: ". seccion1 seccion2 seccion3 .";
    text-align: center;
    height: 450px;
}

#seccion1{
    grid-area: seccion1;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
}

#seccion2{
    grid-area: seccion2;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
}

#seccion3{
    grid-area: seccion3;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
}


#imagen3{
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

button{
    margin: 5px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    color:white;
    transition: background-color 0.5s ease;
}

button:hover{
    background-color: black;
}